@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Catamaran:wght@600&family=Chilanka&family=Cinzel+Decorative:wght@700&family=Gilda+Display&family=Peralta&family=Racing+Sans+One&family=Righteous&display=swap');
$size-m: 4px;
$fonts-families: (
  'font-bruno': 'Bruno',
  'font-catamaran': 'Catamaran',
  'font-chilanka': 'Chilanka',
  'font-cinzel': 'Cinzel Decorative',
  'font-peralta': 'Peralta',
  'font-racing': 'Racing Sans One',
  'font-righteous': 'Righteous',
  'font-gilda': 'Gilda Display',
);
$font-sizes: (
  'font-small': clamp(1.2rem, 2% + 1vw, 4rem),
  'font-medium': clamp(1.4rem, 2% + 1.5vw, 5rem),
  'font-big': clamp(2rem, 4% + 2vw, 5rem),
);

$breakpoints: (
  'xs': 0,
  'sm': 480px,
  'md': 720px,
  'lg': 960px,
  'xl': 1200px,
);

@mixin text__wrapper__style($font_size) {
  font-weight: 900;
  padding: 1rem;
  font-size: $font_size;
}

@mixin success__style {
  color: wheat !important;
  font-weight: 900;
  width: calc(20vw - 10px);
  font-size: clamp(1.25rem, 1.5rem, 2vw);
  padding: 30px 20px;
  border: 2px solid green;
  text-align: center;
  text-shadow: 2px 2px 2px lighten($color: #29106867, $amount: 14) !important;
  background: linear-gradient(
    -36deg,
    lighten($color: #4c9c1eea, $amount: 0),
    lighten($color: #54ac0cea, $amount: 10),
    lighten($color: #1c5e13ef, $amount: 12),
    lighten($color: #42643ce3, $amount: 14),
    lighten($color: #2c7210e0, $amount: 18),
    lighten($color: #20681ee3, $amount: 18)
  ) !important;
  animation: rotate 400ms linear;
}

@mixin error__style {
  color: rgb(85, 36, 23) !important;
  font-weight: 900;
  width: calc(20vw - 10px);
  font-size: clamp(1.25rem, 1.5rem, 2vw);
  padding: 30px 20px;
  border: 2px solid firebrick;
  text-align: center;
  text-shadow: 2px 2px 2px lighten($color: #29106867, $amount: 14) !important;
  background: linear-gradient(
    -36deg,
    lighten($color: #852e7a, $amount: 0),
    lighten($color: #ff7958, $amount: 10),
    lighten($color: #e41a0c, $amount: 12),
    lighten($color: #a70c0c, $amount: 14),
    lighten($color: #ca2407, $amount: 18),
    lighten($color: #b4270e, $amount: 18)
  ) !important;
  animation: shake 400ms linear;
}

@keyframes shake {
  0% {
    translate: -5px 5px;
  }
  25% {
    translate: -20px -20px;
  }
  50% {
    translate: -5px 5px;
  }
  75% {
    translate: 20px -20px;
  }
  100% {
    translate: 5px -5px;
  }
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

@mixin xl {
  @media (max-width: map-get($breakpoints,xl)) {
    @content;
  }
}
@mixin lg {
  @media (max-width: map-get($breakpoints,lg)) {
    @content;
  }
}
@mixin md {
  @media (max-width: map-get($breakpoints,md)) {
    @content;
  }
}
@mixin sm {
  @media (max-width: map-get($breakpoints,sm)) {
    @content;
  }
}
@mixin xs {
  @media (max-width: map-get($breakpoints,xs)) {
    @content;
  }
}
