@use '../imports.module.scss' as *;

.singup__page {
  background-image: url(../../assets/code.jpg);
  background-size: cover;
  min-height: calc(100dvh - 60px);
  display: grid;
  place-items: center;
  position: relative;

  form {
    padding: 4em 0;
    width: 40%;
    background-color: rgba(197, 196, 193, 0.822);
    box-shadow: 0px 0px 10px 10px black;
  }
}

form h2 {
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  font-family: map-get($fonts-families, font-gilda);
  @include text__wrapper__style(map-get($font-sizes, font-big));
}
aside > img {
  display: flex;
  object-fit: cover;
  width: 100%;
  min-height: calc(100dvh - 60px);
}
//
.singup__page > form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
  margin: 3rem;
  border-radius: 20px;
  text-align: center;
  & > p {
    width: 70%;
  }
}
.singup__page > form p {
  letter-spacing: 0.1em;
  font-family: map-get($fonts-families, font-catamaran);
  font-size: map-get($font-sizes, font-small);
}
.singup__page form > div > a {
  letter-spacing: 0.1em;
  font-family: map-get($fonts-families, font-peralta);
  font-size: map-get($font-sizes, font-small);
  color: black;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
  padding: 0.4rem 0.6rem;
  &:hover {
    cursor: pointer;
    translate: -2px 2px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
}

.singup__page > form input {
  padding: 0.57rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #000000;
  font-weight: 900;
  letter-spacing: 0.1rem;
  box-shadow: 0px 0px 10px black;
  font-family: map-get($fonts-families, font-righteous);

  &:focus {
    border: 2px solid black;
    outline: none;
  }
  &::placeholder {
    font-family: map-get($fonts-families, font-chilanka);
    color: #000000;
    font-weight: 900;
    letter-spacing: 0.1rem;
    transition: all 300ms linear;
  }
}

.singup__page > form input:focus::placeholder {
  translate: 0px -8px;
  scale: 0.9;
  letter-spacing: 0.1rem;
}

.singup__page form > button {
  font-weight: 900;
  border-radius: 5px;
  color: black;
  background-color: white;
  padding: 0.7rem 2rem;
  font-family: map-get($fonts-families, font-chilanka);
  letter-spacing: 0.2rem;
  transition: background-color 200ms ease-in-out;
  line-height: 1.2em;
  border: none;
  box-shadow: 0px 0px 10px black;
  text-align: center;
  &:hover {
    background-color: lighten($color: #000000, $amount: 70);
    cursor: pointer;
  }

  &:focus {
    outline: none;
    border: 2px solid black;
  }

  &:disabled {
    color: grey;
    position: relative;
    background-color: rgb(194, 188, 188);
  }
  &:disabled::after {
    content: '';
    background: url(../../assets/restricted.svg);
    background-size: contain;
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 3px;
    right: 80px;
  }
}

.input__wrapper {
  position: relative;
  width: 60%;
}
.input__wrapper:nth-child(2)::after {
  content: '';
  background: url(../../assets/user.svg);
  background-size: cover;
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 22px;
  top: 5px;
  right: 20px;
}
.input__wrapper.valid::after {
  content: '';
  background: url(../../assets/tick.svg);
  background-size: cover;
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  top: 2px;
  right: 20px;
}
.input__wrapper::after {
  content: '';
  background: url(../../assets/lock.svg);
  background-size: cover;
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 22px;
  top: 5px;
  right: 20px;
}

.toast__message__success {
  @include success__style();
}

.toast__message__error {
  @include error__style();
}

.error {
  color: firebrick;
  font-family: map-get($fonts-families, font-catamaran);
  font-size: map-get($font-sizes, font-small);
}
@media (prefers-reduced-motion) {
  .toast__message__success {
    animation: rotate 1s linear;
  }
  .toast__message__error {
    animation: shake 1s linear;
  }
}

.singup__page > form p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singup__page > form > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}

@include xl {
  .singup__page form {
    width: 50%;
  }
}
@include lg {
  .singup__page form {
    width: 60%;
  }
  .toast__message__error,
  .toast__message__success {
    width: 400px;
  }
}
@include md {
  .singup__page form {
    width: 70%;
  }
  button {
    width: 50%;
    padding: 0.7rem 1rem;
  }
  .toast__message__error,
  .toast__message__success {
    width: 200px;
  }

  .singup__page form > button:disabled::after {
    left: calc(50dvw - 100%);
  }
}
@include sm {
  .singup__page form {
    width: 80%;
  }
  .input__wrapper.valid::after {
    right: 5px;
  }
  .singup__page form > button {
    padding: 0.7rem 0;
  }
  .singup__page form > button:disabled::after {
    left: 40%;
    top: 1px;
  }
}
